@model InAndOut.Models.ViewModels.ItemVM

<form method="post" asp-action="Update"> @*asp-action="Update" it is an option. Dont need it because it is the same name than file is*@
    <input asp-for="Item.Id" hidden />
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Update Expense</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Item.ItemName"></label>
                    </div>
                    <div class="col-3">
                        <label asp-for="Item.Borrower"></label>
                    </div>
                    <div class="col-3">
                        <label asp-for="Item.Lender"></label>
                    </div>
                    <div class="col-3">
                        <label asp-for="Item.ExpenseType.Name"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <input asp-for="Item.ItemName" class="form-control" />
                        <span asp-validation-for="Item.ItemName" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <input asp-for="Item.Borrower" class="form-control" />
                        <span asp-validation-for="Item.Borrower" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <input asp-for="Item.Lender" class="form-control" />
                        <span asp-validation-for="Item.Lender" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <select asp-for="Item.ItemTypeId" asp-items="@Model.TypeDropDown" class="form-control">
                            <option selected>--Select Expense Type--</option>
                        </select>
                        <span asp-validation-for="Item.ItemTypeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-75" value="Update" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-danger w-75">Back</a>
                        </div>
                    </div>
                </div>
                <p>Moi</p>

            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

